=== Visual Studio Code ===
.vscode

=== LaTeX build ===

*.out
*.bbl
*.blg
*.glo
*.ist
*.toc
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.log
*.pdf
*.nav
*.snm
__latexindent_temp.tex

=== Other ===
*.lck
*.bak_*
*.bak